.bootstrapped
.deps
.libs
a.out
autom4te.cache
aclocal.m4
config.*
configure
configure.scan
autoscan.log
Makefile
Makefile.in
librb64u.la
librb64u.lo
librb64u.o
libtool
stamp-h1
gen-dtab
test-base64url
