.bootstrapped
.deps
.libs
a.out
autom4te.cache
config.status
config.log
config.h
configure.scan
autoscan.log
Makefile
librb64u.la
librb64u.lo
librb64u.o
libtool
stamp-h1
gen-dtab
test-base64url
*.tar
*.gz
